html
	box-sizing border-box
*
*:before
*:after
	box-sizing inherit
	margin 0
	padding 0
	border 0
	font inherit
	vertical-align baseline
	
sup
	vertical-align text-top
	
sub
	vertical-align text-bottom
	
body
	
	line-height 1
	font-size 16px
	font-family $inconsolata
	color $color--text

	@media screen and (min-width 601px)
		font-size 18px

	@media screen and (min-width 800px)
		padding-left 60px
		
	@media screen and (min-width 901px)
		font-size 20px
		
	@media screen and (min-width 1201px)
		font-size 21px
	
blockquote
q
	quotes none
	
	&:before
	&:after
		content ''
		content none
		
table
	border-collapse collapse
	border-spacing 0