html
	box-sizing border-box
*
*:before
*:after
	vertical-align baseline

	box-sizing inherit
	margin 0
	padding 0

	font inherit

	border 0
	
sup
	vertical-align text-top
	
sub
	vertical-align text-bottom
	
body
	padding-top $nav-height

	color $color--text
	font-size 1.75vmax
	font-family $roboto
	line-height 1

	@media screen and (min-width $breakpoint--laptop)
		font-size 1.25vmax

	@media screen and (min-width $breakpoint--monitor)
		font-size 1vmax

	&.admin-bar
		padding-top 'calc(32px + %s)' % $nav-height
	
blockquote
q
	quotes none
	
	&:before
	&:after
		content ''
		content none
		
table
	border-collapse collapse
	border-spacing 0