{
	"extends": "airbnb",
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"indent": ["error", "tab"],
        "no-tabs": 0,
		"no-undef": 1,
		"no-unused-vars": 1,
		"globals": {
			"wp": false
		},
		"space-in-parens": [2, "always"]
	}
}