.blog-summary
	border-bottom 3px solid $grey--lightest
	padding-bottom 25px
	margin-bottom 25px

	&:last-child
		border-bottom 0
		padding-bottom 0
		margin-bottom 0

.blog-summary__title
	
	margin-bottom 0
	font-size 1.953em

	a
		text-decoration none

		&:hover,
		&:active,
		&:focus
			color $cta-main

.blog-summary__date
	color $grey
