footer
	padding 100px 0 40px

.footer__copyright
	margin-top 100px
	margin-bottom 0

	@media screen and (min-width 550px)
		margin-top 250px

.footer__copyright
.footer__privacy
	text-align center
	font-size $font--small

.footer__privacy
	a
		color $color--text