footer
	padding $spacing--m 0 0

	color $white

	background-color $color--text

.footer__widgets
	align-items center
	display flex
	justify-content space-between

.footer__info
	margin-top $spacing--s
	padding $spacing--xs 0

	background-color lighten( $color--text, 10% )

.footer__info-content
	margin 0 auto

	font-size 0.8em
	text-align center

	a
		color $white
		text-decoration none