.nav--top
	left 0
	position fixed
	right 0
	top 0

	background-color $white

.admin-bar .nav--top
	top 32px

.nav__content
	align-items center
	display flex
	justify-content space-between

	height $nav-height
	margin-bottom 0

.nav__logo
	display block

.nav__menu
	align-items center
	display flex
	flex-direction column
	justify-content center

	position absolute
	top $nav-height
	right 0
	bottom 0
	left 0

	padding 0
	margin 0
	width 100%
	min-height 'calc(100vh - %s)' % $nav-height

	list-style-type none
	background-color $white

	transform translateX(-100%)
	transform-origin left center

	li
		margin 0
		padding $spacing--xs 0

		opacity 0
		transform translateY(25px)

		&.menu-item-has-children
			padding-bottom 0

			> a
				padding-bottom $spacing--xs

	a
		display block

		text-align center
		text-decoration none

	ul
		margin 0
		padding 0
	
		font-size 0.9em
		text-align center

		list-style-type none

@media screen and (min-width $breakpoint--tablet)
	.nav__mobile-link
		display none

	.nav__content
		overflow visible

	.nav__menu
		flex-direction row

		position relative
		top 0

		width auto
		min-height initial

		transform none

		> li
			margin 0
			height $nav-height
			padding 0 $spacing--xs

			line-height $nav-height

			opacity 100
			transform none

		.sub-menu
			display none

			left 0
			position absolute
			top $nav-height

			margin 0
			min-width $nav-dropdown
			padding 0

			text-align left

			background-color $cta-main

			li
				margin 0
				padding $spacing--xs

				line-height initial

				opacity 100
				transform none

				&:last-child
					margin-bottom 0

			a
				color $white
				text-align left

			li.menu-item-has-children
				position relative

				&:hover
					background-color $cta-main--dark

				> a
					padding-bottom 0

			.sub-menu
				top 0

				background-color $cta-main--dark
				transform 'translateX(calc(100% - %s - 1px))' % $spacing--xs

		.menu-item-has-children
			position relative

			&:hover
				background-color $cta-main

				> a
					color $white

				> ul
					display block