// main container
.newsletter-form
	@media screen and (min-width 500px)
		display grid
		grid-template-columns 4fr 6fr
		grid-column-gap 20px

// text content
.newsletter-form__headline
	padding-left 9%
	padding-right 33.33%

.newsletter-form__description
	padding-left 9%
	padding-right 4.5%

	font-size $font--large

// form styles
.newsletter-form__form-container
	overflow auto
	
	margin-top -1em
	padding 2.4em 1.9em 1.9em

	background $gradient--grey

	@media screen and (min-width 500px)
		margin-top 1em

.newsletter-form__input
	width 100%

.newsletter-form__submit
	float right
	margin-right 0.25em
	margin-top 1em