.post-cta
	padding 50px

	border 2px solid $black

	transform scaleX(0)
	transform-origin left center

	@media screen and (max-width 500px)
		padding 25px

.post-cta__headline
	margin-top 0 !important

.post-cta__button-container
	margin-bottom 0

	text-align center

.post-cta__headline
.post-cta__content
.post-cta__button-container
	transform translateY(25px)
	opacity 0