.page--stacked
	.page__sidebar
		display flex
		justify-content space-between

.page--standard-sidebar
	@media screen and (min-width 800px)
		.page__content
			display flex

		.page__main
			min-width 70%
			padding-right 5vw