// sidebar styles
.sidebar__ad-title-container
	padding 5px 25px 0

	background-color $green
	
.sidebar__ad-title
	position relative
	bottom -15px

	margin 0

.sidebar__ad-content-container
	margin-top -15px
	padding 40px 25px 25px

	background-color $color--neutral

.sidebar__ad-content
	margin 0

.sidebar__ad-link
	display block

	height initial

	padding 1em 10px

	text-align center
	line-height 1.1

.sidebar-toggle
	margin-top 25px

	border 2px solid $color--text

.sidebar-toggle__header
	padding 25px 10px

	text-align center

.sidebar-toggle__header-link
	color $color--text
	text-decoration none

	i
		display inline-block

		transition transform 0.3s ease-in

.sidebar-toggle__icon--open
	transform rotate(45deg)

.sidebar-toggle__content
	overflow hidden
	height auto
	max-height 50em

.sidebar-toggle__content--hidden
	max-height 0

.sidebar-toggle__content--animate-in
	animation 0.45s sidebarToggleIn

.sidebar-toggle__content--animate-out
	animation 0.45s sidebarToggleOut

.sidebar-share__links
	list-style-type none

	margin 0
	padding 0
	padding-bottom 25px

	text-align center

.sidebar-share__link-container
	display inline-block

	margin 5px

.sidebar-share__link
	display block

	width 40px
	height 40px

	color $white
	background-color $color--text
	line-height 40px

	transition background-color 0.3s ease-in

	&:hover
	&:active
	&:focus
		color $white

.sidebar-share__link--twitter
	&:hover
	&:active
	&:focus
		background-color $social--twitter

.sidebar-share__link--linkedin
	&:hover
	&:active
	&:focus
		background-color $social--linkedin

.sidebar-share__link--facebook
	&:hover
	&:active
	&:focus
		background-color $social--facebook

.sidebar-share__link--pinterest
	&:hover
	&:active
	&:focus
		background-color $social--pinterest
	
.sidebar-share__link--reddit
	&:hover
	&:active
	&:focus
		background-color $social--reddit
	
.sidebar-share__link--email
	&:hover
	&:active
	&:focus
		background-color $social--email

.sidebar-newsletter__content form
	padding 25px

	button
		margin-bottom 25px

@media screen and (max-width 699px)
	.sidebar
		margin-top 75px

	.sidebar-newsletter
		display none

// sticky styles
@media screen and (min-width 1000px)
	.post__body
		position relative

	.sidebar
		transition opacity 0.2s

	.sidebar--fixed
		position fixed
		top 10px

		width calc(((100vw - 60px) * 0.95) * 0.265) !important
		max-width 351px

		margin-left calc(((100vw - 60px) * 0.95) * 0.735)

		@media screen and (min-width 1456px)
			margin-left 974px

	.sidebar--top
		position relative

.sidebar--bottom
	position relative
	opacity 0
