// <button>, <input type="submit">

button,
input[type="submit"],
.button {
	background-color: $main-cta;
	appearance: none;
	-webkit-appearance: none;
	border: 0px;
	color: white;
	font-weight: 300;
	font-size: 1em;
	padding: 5px 15px;
	border-bottom: 2px $main-cta-dark solid;
	position: relative;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		background-color: $main-cta-dark;
		color: white;
		border-bottom: 2px darken($main-cta-dark, 10%) solid;
	}

	&:active {
		border-bottom: 0px;
		top: 2px;
	}

	&:active,
	&:focus {
		outline: 0px;
	}
}

button {

}

input[type="submit"] {

}

button[type="submit"],
input[type="submit"] {
	float: right;
	margin: 0 1em;
}