.header--generic
	display flex
	align-items center
	justify-content center

	min-height 400px

	background $gradient--purple

	.row
	h1
		margin 0

	.header__title
		text-align center
		text-transform uppercase
		color $white

.generic-content
	margin-top 50px