// header
.hero--post
	padding 90px 0 45px

	@media screen and (min-width 700px)
		padding 90px 0

.hero--post__title
	margin-top 0

.hero--post__details
	display inline-block

	margin-right 35px
	margin-bottom 10px

	span
		font-weight 700

// basic layout
.post__body
	@media screen and (min-width 700px)
		display flex
		justify-content space-between

.post__content
	@media screen and (min-width 700px)
		width 64.5%

.post__sidebar
	@media screen and (min-width 700px)
		width 26.5%

// content styles
.post__content
	h2
	h3
	h4
		margin-top 1.5em

.newsletter-form--in-post
	margin 50px 0

	@media screen and (min-width 700px)
		margin 150px 0