.work-header
	display flex
	align-items center

	min-height 255px

	padding 20px 0
	margin-bottom 65px

	transform scaleX(0)
	transform-origin left center
	

	@media screen and (max-width 799px)
		padding-top 70px

	&.row
		overflow visible

.work-header__title
	margin 0

	font-size 2.8em
	text-transform uppercase
	letter-spacing 0.03em
	line-height 1.18
	color $white
	text-align center

	transform translateY(50px)
	opacity 0


.work-content.row
	overflow visible

	max-width 1000px

.work-intro__graphic
.work-intro__main
.work-intro__details
	transform translateY(50px)
	opacity 0

.work-intro.row
	max-width 800px

.work-intro
	margin-top 40px
	margin-bottom 40px

	@media screen and (min-width 500px)
		display flex

		margin-top 70px

.work-intro__main
	p
		margin 0

	@media screen and (min-width 500px)
		padding-right 25px

	@media screen and (min-width 700px)
		padding-right 50px

.work-intro__details
	margin-top 25px

	min-width 125px

	font-size 0.85em

	@media screen and (min-width 500px)
		margin-top 0

	@media screen and (min-width 700px)
		min-width 150px

.work-intro__details-title
	margin 0

	font-weight bold

.work-intro__details-content
	margin-top 0

.work-intro__details-list
	list-style-type none
	
	padding 0

.work-intro__details-content
.work-intro__details-list
	margin-bottom 10px

.work-link__container
	text-align center

.work-button
	display inline-block

	padding 10px 30px

	color $white
	text-decoration none

	transition transform 0.3s ease-in

	&:hover
	&:active
	&:focus
		color $white

		transform scale(1.1)

.work-content--images
	@media screen and (min-width 500px)
		display flex
		justify-content space-between

		img
			max-width 46%

.work-content--images
.work-content--image
.work-content--video
	img
	iframe
		box-shadow 0 1px 4px 1px rgba($grey, 0.3)

.work-content.row
	margin-bottom 80px