// <button>, <input type="submit">

button
input[type='submit']
.button
	display inline-block

	height 2.5em

	padding 0 1.5em

	color $white
	font-weight 500
	font-family $work-sans
	text-decoration none
	line-height 2.5em

	background-color $cta-main

	transition 0.5s

	cursor pointer

	i
		display inline-block

		transition 0.5s

button
.button
	position relative

	svg
		position absolute
		left 0.25em
		top 0.25em

		height 2.5em
		width 100%

	rect
		fill none
		stroke $green
		stroke-width 2
		stroke-dasharray 422, 0

		transition all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

	&:disabled
		opacity 0.2

		pointer-events none

		rect
		svg
			display none

	&:hover
	&:active
	&:focus
		background-color $cta-main--dark
		color $white

		i
			transform translateX(10px)

		rect
			stroke-width 5
			stroke-dasharray 15, 350
			stroke-dashoffset 48

.button--large
	font-size $font--large

.button--white
	color $teal

	background-color $white

	rect
		stroke $purple

	&:hover
	&:active
	&:focus
		color $teal

		background-color $grey--lighter

.button--outline
	color $purple

	background-color transparent
	border 1px solid $purple

	rect
		stroke $teal

	&:hover
	&:active
	&:focus
		color $purple

		background-color rgba($purple, 0.1)