// <button>, <input type="submit">

button
input[type='submit']
.button
	position relative

	padding $spacing--xs $spacing--s

	color $white
	font-size 1em
	font-weight 300
	text-decoration none

	appearance none
	background-color $cta-main--light
	border 0
	border-bottom 2px $cta-main solid

	transition background-color 0.3s ease-in, border-bottom-color 0.3s ease-in

	&:hover
	&:focus
	&:active
		color white

		background-color $cta-main
		border-bottom 2px $cta-main--dark solid
	
	&:active
		top 2px

		border-bottom 0

button[type='submit']
input[type='submit']
	margin 0 $spacing--xs
