// <p>, <small>, <sup>, <sub>
p
	font-size 1em
	font-weight 300
	line-height 1.25em
	margin .5em 0 1.5em

	@media screen and (min-width 901px)
		line-height 1.375em

small
cite
	font-size .8em

big
small
sub
sup
	line-height 1

address
	font-style normal

em
	font-style italic

strong
	font-weight 700