// <p>, <small>, <sup>, <sub>
p
	margin $spacing--xs 0 $spacing--s

	font-size 1em
	font-weight 300
	line-height 1.25em

	@media screen and (min-width $breakpoint--tablet)
		line-height 1.375em

cite
small
	font-size 0.8em

big
small
sub
sup
	line-height 1

address
	font-style normal

em
	font-style italic

strong
	font-weight 700
