// <form>, <label>, <input>, <select>, <textarea>

form
	max-width 500px
	margin 0 auto 50px
	overflow hidden

	@media screen and (min-width 900px)
		margin-bottom 100px


input:not([type="submit"]),
textarea
	border 1px solid $grey--lighter
	padding 5px
	display block
	width 100%
	margin-bottom 15px

textarea
	min-height 150px

label
	font-size .8em
	font-weight bold
	margin-bottom 5px
	display block