// <form>, <label>, <input>, <select>, <textarea>

form
	overflow hidden

	margin 0 auto $spacing--xl
	max-width 500px

input:not([type='submit'])
textarea
	display block

	margin-bottom $spacing--s
	padding $spacing--xs
	width 100%

	border 1px solid $color--border

	@media screen and (min-width $breakpoint--tablet)
		margin-bottom $spacing--xs
		padding $spacing--xxs

textarea
	min-height 150px

label
	font-weight bold
	margin-bottom $spacing--xs
	display block