ol
ul
	padding-left $spacing--s

	li
		margin-bottom $spacing--xs

	ol
	ul
		margin $spacing--s 0


.list--unstyled
	padding-left 0

	list-style-type none

.list--inline
	li
		display inline-block

		margin-right $spacing--s

		&:last-child
			margin-right 0