blockquote
	position relative

	padding-left $spacing--m

	font-size 1.2em

	&:before
		position absolute
		top 0
		bottom 0
		left $spacing--s

		width 4px

		content ''

		background-color $cta-main--light

	@media screen and (min-width $breakpoint--phablet)
		font-size 1.4em

		&:before
			width 7px

