table
	margin $spacing--xs

caption
	padding $spacing--xs

	color white
	font-size 1.618em
	font-weight 400

	background-color $cta-main--dark

thead
	background-color $cta-main

th
	padding $spacing--xs

	color white
	text-align center

tbody
	tr:nth-child(even)
		background-color $color--neutral


	tr
		border-bottom 1px solid $color--border


td
	padding $spacing--xs

	text-align center

	border-right 1px solid $color--neutral

	&:last-child
		border-right 0

