@import url("http://fonts.googleapis.com/css?family=Roboto:400italic,100italic,100,300,700,400");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Verdana, sans-serif;
  color: #323232;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type="submit"],
.button {
  background-color: #765788;
  appearance: none;
  -webkit-appearance: none;
  border: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  padding: 5px 15px;
  border-bottom: 2px #503b5c solid;
  position: relative;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover,
.button:hover,
button:focus,
input[type="submit"]:focus,
.button:focus,
button:active,
input[type="submit"]:active,
.button:active {
  background-color: #503b5c;
  color: #fff;
  border-bottom: 2px #402f4a solid;
}
button:active,
input[type="submit"]:active,
.button:active {
  border-bottom: 0px;
  top: 2px;
}
button:active,
input[type="submit"]:active,
.button:active,
button:focus,
input[type="submit"]:focus,
.button:focus {
  outline: 0px;
}
button[type="submit"],
input[type="submit"] {
  margin: 0 1em;
}
p {
  font-size: 1em;
  font-weight: 300;
}
small {
  font-size: 0.8em;
}
hr {
  border-style: solid;
  border-color: $neutral;
  border-size: 1px;
}
form {
  max-width: 700px;
  margin: 0 auto 50px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  form {
    margin-bottom: 100px;
  }
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}
.input.input--half,
.input.input--whole {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .input.input--half {
    width: 50%;
    float: left;
  }
}
input[type="search"] {
  box-sizing: border-box;
}
.input__field {
  width: 100%;
  background-color: #889091;
  box-shadow: 0px 0px 0px 2px transparent;
  transition: box-shadow 0.3s;
  position: relative;
}
display block,
float right,
padding 10px,
width 100%,
border none,
border-radius 0,
font-weight bold,
-webkit-appearance none,
focus,
box-shadow 0px 0px 0px 2px $main-cta,
outline 0px,
textarea {
  min-height: 150px;
}
.input__label {
  display: inline-block;
  padding-left: 10px;
}
font-weight bold,
user-select none,
.input__label-content {
  padding: 0.15em 0;
  position: relative;
  display: block;
}
h1,
.h1 {
  font-size: 3.052em;
}
h2,
.h2 {
  font-size: 2.441em;
}
h3,
.h3 {
  font-size: 1.953em;
}
h4,
.h4 {
  font-size: 1.563em;
}
h5,
.h5 {
  font-size: 1.25em;
}
h6,
.h6 {
  font-size: 1em;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 100;
}
h4,
h5,
.h4,
.h5 {
  font-weight: 300;
}
h6,
.h6 {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
  margin: 0.3em 0;
}
a {
  color: $main-cta;
}
a:hover,
a:focus,
a:active {
  color: $main-cta-dark;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-bottom: 10px;
}
ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counters(item ".") " ";
  counter-increment: item;
  margin-right: 10px;
  font-weight: 700;
}
ol ul {
  counter-reset: item;
}
ol ul li:before {
  content: '•';
}
.list--unstyled {
  list-style-type: none;
  padding-left: 0px;
}
.list--inline li {
  display: inline-block;
  margin-right: 10px;
}
.list--inline li:last-child {
  margin-right: 0px;
}
.list--icon {
  margin-right: 15px;
}
.list--icon a {
  color: #323232;
  background-color: #fff;
  width: 30px;
  text-align: center;
  padding: 5px;
  line-height: 1;
  display: block;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.list__icon.list__icon--facebook a:hover,
.list__icon.list__icon--facebook a:active,
.list__icon.list__icon--facebook a:focus {
  background-color: #3b5998;
  color: #fff;
}
.list__icon.list__icon--linkedin a:hover,
.list__icon.list__icon--linkedin a:active,
.list__icon.list__icon--linkedin a:focus {
  background-color: #0077b5;
  color: #fff;
}
.list__icon.list__icon--twitter a:hover,
.list__icon.list__icon--twitter a:active,
.list__icon.list__icon--twitter a:focus {
  background-color: #1da1f2;
  color: #fff;
}
.list__icon.list__icon--yelp a:hover,
.list__icon.list__icon--yelp a:active,
.list__icon.list__icon--yelp a:focus {
  background-color: #af0606;
  color: #fff;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
}
blockquote {
  font-size: 1.618em;
  font-style: italic;
  font-weight: 100;
}
blockquote:before {
  content: '\f10d';
  font-family: 'FontAwesome';
  margin-right: 10px;
}
table {
  margin: 10px;
}
caption {
  background-color: #402f4a;
  color: #fff;
  font-size: 1.618em;
  font-weight: 400;
  padding: 10px;
}
thead {
  background-color: #503b5c;
}
th {
  color: #fff;
  padding: 10px 25px;
  font-weight: 300;
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #eee;
}
tbody tr {
  border-bottom: 1px solid #ddd;
}
td {
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 5px;
}
td:last-child {
  border-right: 0px;
}
.go-top-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 99;
  font-size: 1.25em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.go-top-button.go-top-button--visible {
  opacity: 1;
}
.go-top-button:hover,
.go-top-button:active,
.go-top-button:focus {
  top: initial;
}
.go-top-button:hover i,
.go-top-button:active i,
.go-top-button:focus i {
  color: #fff;
}
.row {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
.row.row--small {
  max-width: 1000px;
}
.row.row--tiny {
  max-width: 750px;
}
.row.row--overflow-visible {
  overflow: visible;
}
.row.row--mtl {
  margin-top: 35px;
}
@media screen and (min-height: 581px) {
  .row.row--mtl {
    margin-top: 75px;
  }
}
@media screen and (min-height: 800px) {
  .row.row--mtl {
    margin-top: 100px;
  }
}
.row.row--mtm {
  margin-top: 25px;
}
@media screen and (min-height: 800px) {
  .row.row--mtm {
    margin-top: 50px;
  }
}
.page-content {
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .page-content {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
  }
  .grid__item {
    padding: 0 10px;
  }
}
.grid__item {
  flex: 1;
}
.grid__item:first-child {
  padding-left: 0px;
}
.grid__item:last-child {
  padding-right: 0px;
}
.grid--thirds,
.grid--quarters,
.grid--half,
.grid--fifths {
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 600px) {
  .grid--half .grid__item {
    width: 49.5%;
    flex: inherit;
  }
}
@media screen and (min-width: 600px) {
  .grid--thirds .grid__item {
    width: 32.83%;
    flex: inherit;
  }
}
@media screen and (min-width: 600px) {
  .grid--quarters .grid__item {
    width: 24.5%;
    flex: inherit;
  }
}
@media screen and (min-width: 600px) {
  .grid--fifths .grid__item {
    width: 19.5%;
    flex: inherit;
  }
}
.grid--dynamic-columns {
  justify-content: space-between;
}
.grid--dynamic-columns .grid__item {
  flex: inherit;
}
.grid--align-top {
  align-items: flex-start;
}
.grid--align-center {
  align-items: center;
}
.grid--align-bottom {
  align-items: flex-end;
}
.grid__item--align-top {
  align-self: flex-start;
  align-items: center;
}
.grid__item--align-center {
  align-self: center;
}
.grid__item--align-bottom {
  align-self: flex-end;
}
.grid__item--pull-right {
  order: 2;
}
.grid__item--pull-left {
  order: -1;
}
.padding-standard {
  padding: 1.618em;
}
.margin-standard {
  margin: 1.618em;
}
.align--center {
  text-align: center;
}
.align--left {
  text-align: left;
}
.align--right {
  text-align: right;
}
.blog-summary {
  border-bottom: 3px solid #889091;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog-summary:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.blog-summary__title {
  margin-bottom: 0px;
  font-size: 1.953em;
}
.blog-summary__title a {
  text-decoration: none;
}
.blog-summary__title a:hover,
.blog-summary__title a:active,
.blog-summary__title a:focus {
  color: #503b5c;
}
.blog-summary__date {
  color: #585e5f;
}
footer {
  background-color: #323232;
  color: #fff;
  padding-top: 25px;
}
footer .full-logo--stacked {
  width: 195px;
}
footer .full-logo__title {
  font-size: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer li {
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  footer .grid__item {
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
  }
  footer .grid__item:first-child {
    padding-left: 10px;
  }
  footer .grid__item:last-child {
    padding-right: 10px;
  }
  footer .grid--dynamic-columns {
    flex-wrap: wrap;
  }
  footer .fa-ul {
    margin-left: 0px;
  }
  footer .fa-ul i {
    display: none;
  }
  footer .full-logo--stacked {
    margin: 0 auto;
  }
}
@media screen and (max-width: 581px) {
  footer .grid__item {
    width: 100%;
  }
}
.footer__title {
  color: #fff;
  font-size: 1.563em;
  margin-bottom: 25px;
  margin-top: 0px;
}
.footer--secondary {
  background-color: #323232;
  padding: 25px 0px;
  margin-top: 25px;
}
.footer--secondary p {
  margin: 0px;
}
.navigation--mobile__trigger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 80px;
  text-indent: -9999px;
}
.navigation--mobile__trigger span {
  display: block;
  position: absolute;
  top: 32px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: #503b5c;
  transition: transform 0.3s;
}
.navigation--mobile__trigger span:before,
.navigation--mobile__trigger span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #503b5c;
  content: '';
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.navigation--mobile__trigger span:before {
  top: -13px;
  transform-origin: top right;
}
.navigation--mobile__trigger span:after {
  bottom: -13px;
  transform-origin: bottom right;
}
.navigation--mobile__trigger.navigation--mobile__trigger--arrow span {
  transform: rotate(180deg);
}
.navigation--mobile__trigger.navigation--mobile__trigger--arrow span:before,
.navigation--mobile__trigger.navigation--mobile__trigger--arrow span:after {
  width: 50%;
}
.navigation--mobile__trigger.navigation--mobile__trigger--arrow span:before {
  top: 0;
  transform: translateX(26px) translateY(2px) rotate(45deg);
}
.navigation--mobile__trigger.navigation--mobile__trigger--arrow span:after {
  bottom: 0;
  transform: translateX(26px) translateY(-2px) rotate(-45deg);
}
.navigation--mobile__container {
  float: right;
  width: 250px;
  height: 100%;
  display: none;
  background-color: $secondary-cta;
}
.navigation--mobile__container ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.navigation--mobile__container a {
  display: block;
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid #fff;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
}
.navigation--mobile__page {
  min-height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 0 15px -5px;
}
.navigation--primary {
  background-color: #fff;
}
.navigation--primary__logo-container {
  float: left;
  width: 108px;
  margin: 13px 0px;
}
.navigation--primary__menu,
.navigation--mobile__trigger {
  float: right;
}
.navigation--primary__menu {
  display: none;
  margin: 23px 0px;
}
.navigation--primary__menu ul {
  margin: 0px;
}
.navigation--primary__menu a {
  text-decoration: none;
}
.navigation--primary__logo {
  display: block;
}
@media screen and (min-width: 900px) {
  .navigation--mobile__trigger {
    display: none;
  }
  .navigation--primary__menu {
    display: block;
  }
}
.navigation--primary__container--fixed {
  position: fixed;
  top: -77px;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.95);
  transition: top 0.3s ease-in-out;
  z-index: 99;
}
.navigation--primary-fixed .navigation--primary__container--initial {
  display: none;
}
.navigation--primary-fixed .navigation--primary__container--fixed {
  top: 0px;
}
.logged-in .navigation--primary-fixed .navigation--primary__container--fixed {
  top: 32px;
}
.page-header {
  margin-bottom: 50px;
  padding: 50px 0px;
  background-color: #a9bd8b;
}
@media screen and (min-width: 900px) {
  .page-header {
    padding: 100px 0px;
    margin-bottom: 100px;
  }
}
.page-header .row {
  overflow: visible;
}
.page-header__title {
  margin: 0px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
