.blog-summary {
	border-bottom: 3px solid $grey--lightest;
	padding-bottom: 25px;
	margin-bottom: 25px;

	&:last-child {
		border-bottom: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
}

.blog-summary__title {
	
	margin-bottom: 0px;
	@include font-size($h3-font-sizes);

	a {
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			color: $main-cta;
		}
	}
}

.blog-summary__date {
	color: $grey;
}