// mobile navigation styles
.navigation--mobile__trigger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 80px;
	text-indent: -9999px;

	span {
		display: block;
		position: absolute;
		top: 32px;
		left: 18px;
		right: 18px;
		height: 6px;
		background: $main-cta;
		transition: transform .3s;

		&:before,
		&:after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 6px;
			background-color: $main-cta;
			content: '';
			transition: transform .3s, width .3s, bottom .3s;
		}

		&:before {
			top: -13px;
			transform-origin: top right;
		}

		&:after {
			bottom: -13px;
			transform-origin: bottom right;
		}
	}

	&.navigation--mobile__trigger--arrow {
		span {
			transform: rotate(180deg);

			&:before,
			&:after {
				width: 50%;
			}

			&:before {
				top: 0;
				transform: translateX(26px)translateY(2px)rotate(45deg);
			}

			&:after {
				bottom: 0;
				transform: translateX(26px)translateY(-2px)rotate(-45deg);
			}
		}
	}
}

.navigation--mobile__container {
	float: right;
	width: 250px;
	height: 100%;
	display: none;
	background-color: $secondary-cta;

	ul {
		list-style-type: none;
		padding-left: 0px;
		margin: 0px;
	}

	a {
		display: block;
		width: 100%;
		line-height: 40px;
		border-bottom: 1px solid white;
		padding: 0 10px;
		color: white;
		text-decoration: none;
	}
}

.navigation--mobile__page {
	min-height: 100%;
	width: 100%;
	z-index: 5;
	position: absolute;
	right: 0px;
	background-color: white;
	box-shadow: 0 0 15px -5px;
}

// primary navigation styles
.navigation--primary {
	background-color: $white;
}

.navigation--primary__logo-container {
	float: left;
	width: 108px;
	margin: 10px 0px;
}

.navigation--primary__menu,
.navigation--mobile__trigger {
	float: right;
}

.navigation--primary__menu {
	display: none;
	margin: 23px 0px;

	a {
		text-decoration: none;
	}
}

.navigation--primary__logo {
	display: block;
}

@media screen and (min-width: 900px) {
	.navigation--mobile__trigger {
		display: none;
	}

	.navigation--primary__menu {
		display: block;
	}
}

// fixed styles
.navigation--primary__container--fixed {
	position: fixed;
	top: -77px;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.95);
	transition: top .3s ease-in-out;
	z-index: 99;
}

.navigation--primary-fixed {
	.navigation--primary__container--initial {
		display: none;
	}

	.navigation--primary__container--fixed {
		top: 0px;
	}
}

.logged-in .navigation--primary-fixed .navigation--primary__container--fixed {
	top: 32px;
}
