.screen-reader-text
	position absolute !important
	overflow hidden

	height 1px
	width 1px

	word-wrap normal !important /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	clip rect(1px, 1px, 1px, 1px)

	&:focus
		display block

		left 5px
		top 5px
		z-index 100000

		height auto
		padding 15px 23px 14px
		width auto

		color $cta-main
		font-size 0.875rem
		font-weight 700
		line-height normal
		text-decoration none

		background-color $white
		border-radius 3px
		box-shadow 0 0 2px 2px rgba($color--text, 0.6)
		clip auto !important