.wp-caption
	background $white
	border 1px solid $grey--lightest
	max-width 100%
	padding-bottom 10px
	text-align center

.wp-caption.alignnone
	margin 5px 20px 20px 0

.wp-caption.alignleft
	margin 5px 20px 20px 0
	
.wp-caption.alignright
	margin 5px 0 20px 20px

.wp-caption img
	border 0 none
	height auto
	margin 0
	max-width 100%
	padding 0
	width auto

.wp-caption .wp-caption-text
	font-size 11px
	line-height 17px
	margin 0
	padding 0 4px 5px