.wp-caption
	max-width 100%
	padding-bottom $spacing--xs

	text-align center
	
	background $white
	border 1px solid $color--border

	&.alignnone
		margin $spacing--xs $spacing--s $spacing--s 0

	&.alignleft
		margin $spacing--xs $spacing--s $spacing--s 0
	
	&.alignright
		margin $spacing--xs 0 $spacing--s $spacing--s

	img
		height auto
		margin 0
		max-width 100%
		padding 0
		width auto

		border 0 none

	.wp-caption-text
		margin 0
		padding 0 4px 5px

		font-size 11px
		line-height 17px