.colored-headline
	position relative
	z-index 10

	padding-left 10px

	&.h3
		line-height 0.9

.colored-headline__background
	z-index -1
	position absolute
	left 0
	right 0

	transform scaleX(0)
	transform-origin left center

.colored-headline--top
	padding-top 15px
	margin-top 0

	.colored-headline__background
		top 0
		bottom calc(50% - 15px)

.colored-headline--bottom
	padding-bottom 15px
	margin-bottom 0

	.colored-headline__background
		top 50%
		bottom 15px

.colored-headline__content
	display block

	transform translateY(25px)
	opacity 0

.colored-headline--green .colored-headline__background
	background-color $green

.colored-headline--teal .colored-headline__background
	background-color $teal

.colored-headline--blue .colored-headline__background
	background-color $blue

.colored-headline--purple .colored-headline__background
	background-color $purple--bg

.colored-headline--grey .colored-headline__background
	background-color $grey--lighter