.row
	overflow hidden

	margin 0 auto $spacing--s
	max-width 1300px
	width 90%

	&.row--small
		max-width 1000px

	&.row--tiny
		max-width 750px

	&.row--big
		max-width 1500px

	&.row--full-width
	.row
		max-width 100%
		width 100%

	&.row--overflow-visible
		overflow visible

	&.row--no-margin
		margin-bottom 0