.row
	width 95%
	max-width 1325px
	margin 0 auto 1em
	overflow hidden

	&.row--small
		max-width 975px

	&.row--tiny
		max-width 575px

	&.row--medium
		max-width 1125px

	&.row--large
		max-width 90%
		width 1820px

	&.row--full,
	.row
		max-width 100%
		width 100%

	&.row--overflow-visible
		overflow visible

	&.row--no-margin
		margin-bottom 0