.social-share-link-container
	margin 50px 0

	ul
		list-style-type none

		margin 0
		padding 0

		text-align center

	li
		display inline-block

		font-weight bold

	.link
		width 68px
		height 38px

		margin-left 10px

		line-height 38px


		a
			display block

			color $color--text

			background-color $grey--light

			&:hover
			&:active
			&:focus
				color $white

				transition all 0.3s ease-in

	.twitter
		a
			&:hover
			&:active
			&:focus
				background-color $social--twitter
				
	.facebook
		a
			&:hover
			&:active
			&:focus
				background-color $social--facebook
				
	.linkedin
		a
			&:hover
			&:active
			&:focus
				background-color $social--linkedin
				
	.pinterest
		a
			&:hover
			&:active
			&:focus
				background-color $social--pinterest

	@media screen and (max-width 700px)
		.title
			display block
			
		.title + .link
			margin-left 0