$purple : #503B5C;
$seafoam : #D1FFCD;
$green : #A9BD8B;
$olive : #948A54;

$white : #FFFFFF;
$grey--lightest : #F2EFEF;
$grey--light : #B2AFAF;
$grey : #6E6E71;
$slate : #596166;
$black : #231F20;

$text-color : $slate;
$main-cta : lighten($purple, 20%);
$main-cta-dark : $purple;
$secondary-cta : $green;
$secondary-cta-dark : darken($green, 15%);
$neutral : $slate;
