@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100italic,100,300,700,400);
$roboto : 'Roboto', Helvetica, Verdana, sans-serif;

$breakpoints : (
	small : 600px,
	medium : 900px,
	large : 1200px
);

$h1-font-sizes : (
	null : 3.052em,
	large : 5.653em
);

$h2-font-sizes : (
	null : 2.441em,
	large : 3.998em
);

$h3-font-sizes : (
	null : 1.953em,
	large : 2.827em
);

$h4-font-sizes : (
	null : 1.563em,
	large : 1.999em
);

$h5-font-sizes : (
	null : 1.25em,
	large : 1.414em
);

$h6-font-sizes : (
	null : 1em
);

$p-font-sizes : (
	null : 1em
);

$base-font-sizes : (
	null : 16px,
	small : 17px,
	medium : 18px,
	large : 20px
);