$purple = #503B5C
$green = #A9BD8B
$red = #b54848

$white = #FFFFFF
$grey = #585e5f
$grey--lightest = lighten($grey, 80%)
$grey--lighter = lighten($grey, 50%)
$grey--light = lighten($grey, 25%)
$grey--dark = darken($grey, 15%)
$black = #323232

$color--text = $black
$color--neutral = $grey

$cta-main--light = lighten($purple, 20%)
$cta-main = $purple
$cta-main--dark = darken($purple, 20%)

$cta-secondary--light = lighten($green, 10%)
$cta-secondary = $green
$cta-secondary--dark = darken($green, 10%)
