// colors
$purple = #503B5C

// neutrals
$white = #FFFFFF
$grey--light = #efefef
$grey = #aaa
$grey--dark = #565656
$black = #323232

// style definitions
$color--text = $black
$color--neutral = $grey--light
$color--border = $grey--dark

// cta
$cta-main--light = lighten($purple, 20%)
$cta-main = $purple
$cta-main--dark = darken($purple, 20%)