$purple = #503B5C
$seafoam = #D1FFCD
$green = #A9BD8B
$olive = #948A54

$white = #FFFFFF
$grey = #585e5f
$grey--lightest = lighten($grey, 30%)
$grey--light = lighten($grey, 15%)
$grey--dark = darken($grey, 10%)
$black = #323232

$color--text = $black
$color--neutral = $grey

$cta-main--light = lighten($purple, 20%)
$cta-main = $purple
$cta-main--dark = darken($purple, 20%)

$cta-secondary--light = lighten($green, 10%)
$cta-secondary = $green
$cta-secondary--dark = darken($green, 10%)
