$color--behance = #1769ff
$color--codepen = #0ebeff
$color--deviantart = #05cc47
$color--digg = #005be2
$color--docker = #0db7ed
$color--dribbble = #ea4c89
$color--dropbox = #007ee5
$color--facebook = #3b5998
$color--flickr = #0063dc
$color--foursquare = #f94877
$color--google = #dd4b39
$color--github = #4078c0
$color--instagram = #e1306c
$color--linkedin = #0077b5
$color--mail = lighten( $color--text, 20% )
$color--medium = #00ab6c
$color--pinterest = #bd081c
$color--periscope = #3aa4c6
$color--pocket = #ef4056
$color--reddit = #ff4500
$color--skype = #00aff0
$color--slideshare = #0077b5
$color--snapchat = #fffc00
$color--soundcloud = #ff8800
$color--spotify = #1db954
$color--stumbleupon = #eb4924
$color--tumblr = #35465c
$color--twitch = #6441a5
$color--twitter = #1da1f2
$color--vimeo = #1ab7ea
$color--vine = #00b488
$color--vk = #45668e
$color--wp = #21759b
$color--yelp = #af0606
$color--youtube = #ff0000