@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Work+Sans:300,400,900')

$work-sans = 'Work Sans', 'Helvetica', sans-serif
$inconsolata = 'Inconsolata', monospace

$font--large = 1.33em
$font--regular = 1em
$font--small = 0.75em