.error-intro
.error-cta
	margin 50px auto
	
.error-content
	display flex
	justify-content space-between
	
.error-content__column
	width 45%

	ul
		list-style-type none

		padding 0
		margin 25px 0 50px

	li
		margin-bottom 5px

	a
		color $color--text
		text-decoration none

		&:hover
		&:active
		&:focus
			text-decoration underline