// hero
.hero--contact
	display flex
	align-items center
	justify-content center

	padding-top 60px

	min-height 350px

	.row
		margin-bottom 0

		overflow visible

	@media screen and (min-width 800px)
		min-height 450px

		padding-top 0

.hero--contact__title
	margin 0

	text-transform uppercase
	text-align center
	letter-spacing 0.05em
	font-size 3.2em

	@media screen and (min-width 400px)
		letter-spacing 0.25em

	@media screen and (min-width 500px)
		font-size 4.2em
		
	@media screen and (min-width 750px)
		font-size 5.7em

	span
		display inline-block

		min-width 40px

		opacity 0
		transform translateY(50px)
	

// intro content
.contact-content
	margin 45px auto

	text-align center

	a
		color $color--text

		&:hover,
		&:active,
		&:focus
			color $purple

	@media screen and (min-width 800px)
		margin 90px auto

.contact-content__social
	padding 0
	margin 0
	margin-bottom 45px
	
	list-style-type none

	@media screen and (min-width 800px)
		margin-bottom 90px

.contact-content__social-item
	display inline-block

	margin 0 10px 10px

// form
.contact-form
	padding 40px
	background $gradient--grey

	.row
		margin-bottom 0

	div.form-group
		margin-bottom 30px

	label.control-label
		font-weight 400

	input:not([type='submit'])
	textarea.form-control
		border 2px solid $color--text

		background-color transparent

	input[type='submit']
		float right

// animation styles
.contact-content__email,
.contact-content__social,
.contact-content__form-intro,
.contact-form
	opacity 0
	transform translateY(50px)

.hero--contact
	transform scaleX(0)
	transform-origin left center