.work.row
	overflow visible

	min-height 400px

	margin-top 50px

.featured-project
	margin-bottom 100px

	color $color--text
	text-decoration none

	&:hover
	&:active
	&:focus
		color $color--text

		.featured-project__image
			transform scale(1.1)

	@media screen and (min-width 500px)
		display flex
		align-items center


.featured-project__image
	z-index -1

	height auto

	transform-origin left center
	transition transform 0.4s ease-in

	@media screen and (min-width 500px)
		width 49%

	@media screen and (min-width 900px)
		width 59%
	
.featured-project__details
	margin-top -30px

	padding 0 15px

	@media screen and (min-width 500px)
		width 43.3%
		
		margin-left -2.3%
		margin-top 0

	@media screen and (min-width 900px)
		width 33.3%

.featured-project__title
	line-height 1.175

.featured-project__link
	text-decoration underline

.work-filter__content
	margin-bottom 0.75em

	font-size 1.33em

.work-filter__toggle
	font-weight bold
	color $purple
	white-space nowrap

	i
		transition transform 0.15s ease-in

.work-filter__toggle--active i
	transform rotate(180deg)

.work-filter__list--hidden
	display none

.work-filter__list
	list-style-type none
	columns 3

	max-width 600px

	margin 0
	padding 0

.work-filter__list-item
	margin-bottom 10px

.work-filter__list-item--active a
	font-weight bold

	pointer-events none

.work-filter__filter-link
	color $purple
	text-decoration none

.filter-reset-link
	display block

	padding-top 75px

	color $color--text
	text-align center

	&.filter-reset-link--hidden
		display none